* { box-sizing: border-box; }

@font-face {
	font-family: space-mono;
	src: url(/css/SpaceMono-Bold.ttf);
}

@font-face {
	font-family: 'Press Start 2P';
	src: url(/css/PressStart2P-Regular.ttf);
}

:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-headline: Palatino, Baskerville, serif;
	--font-family-monospace: space-mono, Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	--bg-col: #012;
	--waves-bg: lightcyan;
	--link: #ffebcd;
	--text-color: #fff;
	--green: Chartreuse;
	--pink: HotPink;
}

html, body {
	margin: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	min-width: 320px;
	color: #fff;
	font-size: 1.1rem;
	line-height: 1.75rem;
	font-family: var(--font-family);
	color: var(--text-color);
}

body.page--404 {
	user-select: none;
}

h1, h2 ,h3, h4, h5 {
	font-family: var(--font-family-monospace);
}

hr { opacity: .3; }

.page--games h1,
.page--work h1,
.page--work h2 {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 270%;
	padding: 1rem 0;
}

.page--games h2 {
	margin: 2rem 0;
	font: 22px 'Press Start 2P', Arial, sans-serif;
}
.page--games h3 {
	font: 12px 'Press Start 2P', Arial, sans-serif;
}

.page--home, .page--404 { align-items: center; }

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.header-anchor { display: none; }

.wrap {
	z-index: 1;
	padding: 1rem; 2rem;
	max-width: 600px;
	min-height: 60vh;
}

.page--home .wrap {
	text-align: center;
	display: flex;
	max-width: 400px;
	flex-wrap: wrap;
}

.wrap h1, h2 {
	margin: 0 auto 0.25rem auto;
	text-shadow: 0 5px rgba(0,0,0,0.25);
}
.page--home .wrap p a {
	display: block;
	opacity: .7;
	color: #fff;
	text-decoration: none;
	border: none;
	transition: all .3s ease-in;
}
.page--home .wrap p a:hover {
	color: var(--pink);
	border-bottom: none;
	opacity: 1;
	text-shadow: 0 2px rgba(0,0,0,1);
	transform: scale(1.05);

}

.wrap p a {
	color: var(--link);
	border-bottom: 1px dashed var(--link);
	text-decoration: none;
	transition: all .3s ease-in;
}
.wrap p a:hover {
	color: var(--pink);
	border-bottom: 1px solid var(--pink);
	opacity: 1;
	text-shadow: 0 2px rgba(0,0,0,1);
}


.page--home .wrap h1,
.page--404 .wrap h1,
.page--404 .wrap p,
.page--home .wrap h2 { text-align: center; }


h1 { font-size: 2.5rem; }
h2 { font-size: 1.5rem; color: var(--green); margin-top: 1rem; }

nav {
	margin-bottom: 3rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
nav a {
	text-decoration: none;
	color: #fff;
	padding: 0.5rem;
	opacity: 0.5;
	border-bottom: 3px solid transparent;
	transition: all .2s ease-in;
}
nav a:hover {
	opacity: 1;
	color: var(--pink);
}
nav a.active { opacity: 1; border-color: #fff; }
nav a.home {
	text-indent: -9999rem;
	display: inline-block;
	width: 1.5rem;
	height: 1.5em;
	vertical-align: middle;
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-size: 100% 100%;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE --%3E%3Cpath fill='currentColor' d='M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8z'/%3E%3C/svg%3E");
}


.hidden { display: none; }

ul.onthewebs {
	list-style: none;
	padding: .75rem 0;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

ul.onthewebs li a {
	text-indent: -9999rem;
	display: inline-block;
	width: 2rem;
	height: 2em;
	vertical-align: middle;
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-size: 100% 100%;
	-webkit-print-color-adjust: exact;
}


ul.onthewebs li a {
	color: #fff;
	transition: all .2s linear;
}
ul.onthewebs li a:hover {
	transform: scale(1.2);
	color: var(--pink);
}

.icon-email {
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 640 640'%3E%3C!-- Icon from Font Awesome Solid by Dave Gandy - https://creativecommons.org/licenses/by/4.0/ --%3E%3Cpath fill='currentColor' d='M112 128c-26.5 0-48 21.5-48 48c0 15.1 7.1 29.3 19.2 38.4l208 156a48 48 0 0 0 57.6 0l208-156c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48zM64 260v188c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64V260L377.6 408.8c-34.1 25.6-81.1 25.6-115.2 0z'/%3E%3C/svg%3E");
}

.icon-linkedin {
	margin-top: -.1rem;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a2.7 2.7 0 0 0-2.7-2.7c-1.2 0-2.3.7-2.8 1.7v-1.5H10V18.5h3v-5c0-.8.7-1.5 1.5-1.5s1.5.7 1.5 1.5v5h3M6.2 7.7c-1 0-1.8.7-1.8 1.7s.8 1.7 1.8 1.7 1.7-.8 1.7-1.7-.7-1.7-1.7-1.7M4.7 18.5h3V12h-3v6.5z'/%3E%3C/svg%3E");
}

.icon-github {
	margin-top: -.1rem;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 2C6.477 2 2 6.477 2 12c0 4.419 2.865 8.166 6.839 9.489.5.092.682-.217.682-.482 0-.237-.008-.866-.013-1.7-2.782.604-3.369-1.34-3.369-1.34-.454-1.156-1.11-1.463-1.11-1.463-.908-.62.069-.608.069-.608 1.003.07 1.531 1.03 1.531 1.03.892 1.529 2.341 1.087 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.11-4.555-4.943 0-1.091.39-1.984 1.029-2.683-.103-.253-.446-1.27.098-2.647 0 0 .84-.269 2.75 1.025A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.294 2.747-1.025 2.747-1.025.546 1.377.203 2.394.1 2.647.64.699 1.028 1.592 1.028 2.683 0 3.842-2.339 4.687-4.566 4.935.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.578.688.481A10.019 10.019 0 0022 12c0-5.523-4.477-10-10-10z'/%3E%3C/svg%3E");
}

img.profile-pic { max-width: 128px; border-radius: 100%; border: 3px solid rgba(255, 255, 255, 0.5); margin: auto;
	transition: all .2s ease-in;
}
img.profile-pic:hover { border-color: var(--green); transform: scale(1.05); }

.card {
	width: 128px;
	height: 128px;
	perspective: 500px;
	display: block;
	margin: 0 auto;
}

.card.hire-me a { text-decoration: none; }
.card.hire-me a strong {
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	width: 100%;
	font-size: 90%;

}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.card:hover .content {
	transform: rotateY( 180deg ) ;
	transition: transform 0.5s;
}

img.profile-pic {
	color: #fff;
	text-align: center;
	border-radius: 100rem;
	border: 5px solid #fff;
}

.front,
.back {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 6px solid #000;
	background-image: url('/i/profile.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #03446A;
	text-align: center;
	font-size: 14px;
	border-radius: 5px;
	backface-visibility: hidden;
	border-radius: 100rem;
}

.back {
	background: var(--green);
	color: white;
	transform: rotateY( 180deg );
}
.back a { text-decoration: none; color: #000; font-family: var(--font-family-monospace); }

span.lets-build {
	display: block;
	margin: 20px auto;
	width: 50%;
	line-height: 20px;
	text-align: left;
}

.cta-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	padding: .25rem 0;
	font-size: 85%;
	text-align: center;
	background: var(--green);
	font-family: var(--font-family-monospace);
	opacity: 60%;
	border-top: 1px solid #000;
	transform: translateY(100%);
	opacity: 0.7;
	transition: all .3s ease-in;
	animation: slideUp 0.8s ease forwards;
	animation-delay: 5s;
}

.cta-banner:hover {
	opacity: 1;
}

.cta-banner a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: black;
}

.cta-banner span { white-space: nowrap; display: inline-block; }

.bg {
	position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -10000;
	background: #036;
	background: linear-gradient(0deg, #001 20%, #013 75%);
	background-attachment: fixed;
}
body.page--home .bg {
	background: linear-gradient(0deg, #001 20%, #036 75%) !important;
}
canvas.bg-canvas { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: -1000; }

.post { margin-top: 3rem; }
.post h1 { margin-top: 2rem; }
.post img {  image-rendering: pixelated; display: block; }
.post img.center { margin: 1rem auto; border: 5px solid rgba(0,0,0,0.2); border-radius: 2px; }
.post p { line-height: 1.6rem; }

.post ul { list-style-type: none; margin: 0; padding: 0; }
.post li { margin: 1rem 0; line-height: 1.6rem; }
.post ul.good li::before { content: '👍 '; }
.post ul.bad li::before { content: '👎 '; }
.post ul.idea li::before { content: '💡'; }

p.intro { font-size: 1.1em; text-shadow: #000 1px 1px 0; }
p.note { font-size: 1.1em; text-shadow: #000 1px 1px 0; text-align: center; font-style: italic;}
p em { text-align: center; }


.game {
	margin: 1rem 0;
	background: rgba(0,0,0,0.25);
	border: 3px solid rgba(0,0,0,0.1);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1em;
	transition: all 0.25s ease-in-out;
	gap: 1.5rem;
}

.game a { color: #fff; text-decoration: none; }
.game p { margin-top: 0; line-height: 1.4; }
.game p a:after { content: " \00BB"; }

.game:hover {
	background: rgba(0,0,0,0.8);
	transform: scale(1.03);
}

.game:hover h3 { color: #f0f; }

.icon { flex: 0 0 128px; }
.icon img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 3px;
	border: 3px solid #000;
}

.desc { flex: 1; }
.desc h3 { font-size: 1.25rem; color: #fff; margin: 0 0 0.5rem 0; }

@media (max-width: 480px) {
	.game {
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 1.5rem;
	}

	.icon {
		flex: 0 0 auto;
		width: 100%;
		max-width: 300px;
		margin: 0 auto 1rem auto;
	}

	.icon img {
		width: 100%;
		height: auto;
		border-radius: 4px;
	}
	.desc h3 {
		margin-top: 0.5rem;
	}
}
.project {
	background: rgba(0,0,0,0.5);
	padding: 1rem;
	border-bottom: 3px solid rgba(0,0,0,0.2);
	margin-bottom: 2rem;
	transition: all 0.5s ease-in;
}
.project h2, .project h3 {
	flex: 100%;
	font-size: 1.5rem;
	margin: 0 0 1rem 0;
	color: var(--text-color);
	transition: all 0.5s ease-in;
}
.project img { flex: 100%; width: 100%; border: 5px solid rgba(0,0,0,0.2); }
.project .desc { flex: 100%; }
.project:hover {  background: rgba(0,0,0,0.7); border-color: var(--green); }
.project:hover h2, .project:hover h3 { color: var(--green); }

ul.tags { width: 100%; list-style: none; margin: 0; padding: 0; }
ul.tags::before { content: ''; }
ul.tags li { font-size: 0.8rem; font-weight: bold; display: inline; padding: 0.4rem; background: rgba(255,255,255,0.05); }


footer {
	margin-top: 3rem;
	opacity: 0.5;
	font-size: 75%;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	text-align: center;
	padding: 1rem 0;
}

.light1 { position: fixed; top: -10vh; left: 66%; height: 120vh; width: 7%;
	transform: rotate(20deg);
	background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgba(255,255,255,0.06) 100% );
	animation: 15s ease-in infinite alternate shimmer;
}
.light2 { position: fixed; top: -10vh; left: 60%; height: 120vh; width: 5%; transform: rotate(20deg);
	background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgba(255,255,255,0.04) 100% );
	/* animation: 10s ease-in infinite alternate shimmer; */
}
.light3 { position: fixed; top: -10vh; left: 55%; height: 120vh; width: 2%; transform: rotate(20deg);
	background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgba(255,255,255,0.03) 100% );
	/* animation: 5s ease-in infinite alternate shimmer; */
}

@keyframes shimmer {
from {
	transform: rotate(18deg);
	left: 70%;
	width: 7%;
	opacity: 0.5;
}

to {
	transform: rotate(10deg)
		left: 65%;
	width: 5%;
	opacity: 1;
}
}

/* Adapted from https://masscode.io/snippets/ui/effects/2/ */
.waves {
	background: var(--waves-bg);
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:10vh;
	margin-bottom:-7px; /*Fix for safari gap*/
	min-height:100px;
	max-height:100px;;
	z-index: -1000;
}

.parallax > use {
	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}
@keyframes move-forever {
0% {
	transform: translate3d(-90px,0,0);
}
100% {
	transform: translate3d(85px,0,0);
}
}

@media (max-height: 479px) {
	.waves { display: none;}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 1s ease forwards;
	animation-delay: 3s;
}

@keyframes fadeIn {
from {
	opacity: 0;
}
to {
	opacity: 1;
}
}

@keyframes slideUp {
from {
	transform: translateY(100%);
}

to {
	transform: translateY(0);
}
}
/* Shrinking for mobile */
@media (max-width: 768px) {
	.waves {
		height:40px;
		min-height:40px;
	}
}

@media (min-width: 260px) {
	h1 { font-size: 1.6rem; }
	.page--home h2 { font-size: 1.1rem; }
	ul.onthewebs li svg { width: 30px; }
}

@media (min-width: 340px) {
	h1 { font-size: 2rem; }
	.page--home h2 { font-size: 1.2rem; }
	ul.onthewebs li svg { width: 42px; }
}

@media (min-width: 360px) {
	h1 { font-size: 2.1rem; }
	.page--home h2 { font-size: 1.3rem; }
}

@media (min-width: 390px) {
	h1 { font-size: 2.3rem; }
	.page--home h2 { font-size: 1.3rem; }
}

